#address_data{
    width: 40%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;

    padding-left: 140px;
}
#address_data>input {
 width:50% ;
 margin: auto;
 padding: 10px 20px;
 margin-top: 15px;
 margin-bottom: 10px;

}
label{
    
    font-size: 18px;
    font-weight: bold;
}

#submit{
    background-color: darkgray;
    color: #fff;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
  
}
#submit:hover{
    border: 2px solid black;
    background-color: darkblue;
    color: red;
  
}

.Saddress{
    padding: 20px;
    padding-left: 50px;
    border: 1px solid green;
}
.Sdiv_btn{
    display: flex;
    justify-content: space-between;
}

.Sdiv_btn>button:nth-child(1) {
    padding: 10px 40px;
    background-color: darkolivegreen;
    color: #fff;
    font-size: 20px;
    font-weight: bold;

}
.Sdiv_btn>button:nth-child(2) {
    padding: 10px 50px;
    color: #fff;
    background-color: green;
    font-size: 20px;
    font-weight: bold;

}

.Sdiv_btn>button:nth-child(2):hover {
   border: 2px solid red ;
    color: black;
    background-color: greenyellow;


}

.Sdiv_btn>button:nth-child(1):hover {
    border: 2px solid red ;
     color: black;
     background-color: greenyellow;
 
 
 }

 #Saddress{
    display: flex;
    width: 100%;
    margin: auto;
 }

 #add_right{
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 30px;
    width: 40%;
padding: 30px 0px 0px 20px;

 }
 #add_right>h2{
    
  text-align: center;


 }