body {
    background-color:rgb(238,238,238);
  }
  
  #form-first{
      position: relative;
      /* left: 120px; */
      /* border: solid red 1px; */
      background-color:rgb(255,255,255);
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 30%;
      margin: auto;
      padding-top: 30px;
  
  }
  #form-first  h2{
      position: relative; 
      left: 260px;
      color: black;
      margin-bottom: 40px;
      margin: auto;
      align-items: center;
      justify-self: center;
      padding-top: 30px; 
      margin: auto;
  
  }
  
  input{
      margin-top: 0px;
      margin-left: 30px;
      width: 250px;
      height: 10px;
      margin-bottom: 2px;
      outline: none;
      font-size: 14px;
      padding: 10px;
   
  }
  .input_box{
      position: relative;
      left: 60px;
      text-align: left;
      justify-content: space-around;
      /* /* margin: auto; */
      align-items:baseline;
  }
  
  h3{
      position: relative;
      margin-left: 90px;
      font-size: 15px;
  }
  
  #submit{
      position: relative;
      left: 10%;
      padding: 10px;
      margin-top: 40px;
      width: 20%;
      height: 40px;
      margin-left: 40px;
      border-radius: 7px;
      color: white;
      background-color:rgb(170,170,170); 
      font-size: 20px;
      border: none;
      cursor: pointer; 
      /* margin: auto; */
      /* margin: auto; */
  }
  #submit:hover{
      background-color:#d41f1f;
  }
  #Mimgdiv{
          display: flex;
          justify-content: center;
          margin-top: 100px;
      }
      #Mbox1{
          padding-top: 30px;
          /* border: solid 1px red; */
          /* display: flex; */
          
      }
      #Mbox1>h3{
          justify-content: center;
          margin: auto;
          text-align: center;
          margin-bottom: 40px;
          font-size: 20px;
      }
      #Mmain{
          display: flex;
          /* border: solid 1px red; */
          width: 70%;
          margin: auto;
          padding-bottom: 20px;
          
         
      }
      #Mmain{
         justify-content: space-evenly; 
         margin-top: 30px;
      }
      #Mmain>div{
          /* border: solid 1px red; */
          width: 100px;
          height: 30px;
          /* border: #d41f1f; */
          background-color: beige;
      }
          
      
   
      #Mj{
          display: flex;
          /* border-bottom: #d41f1f; */
          justify-content: space-evenly; 
         margin-top: 30px;
         background-color:rgb(255,255,255);
           
      }
    
    p{
      /* margin: auto; */
      text-align: center;
  
    }
  
    